@model ASPNETMVCDEMO.Models.AddJobViewModel

@{
}


<h1>Add Job</h1>
<form method="post" action="Add" class="mt-5">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name"/>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>
    <div class="form-group">
        <label for="Url">Url</label>
        <input type="text" class="form-control" asp-for="Url" />
    </div>
    <div class="form-group">
        <label for="Interval">Interval</label>
        <input type="number" class="form-control" asp-for="Interval" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>